extends layout

block content
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    iframe( id='myiframe', frameborder='0', height='2800', width='100%', src='')
