ul.nav.navbar-top-links.navbar-right
    li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.fa.fa-envelope.fa-fw
            i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-messages
            li
                a(href='#')
                  div
                    strong John Smith
                    span.pull-right.text-muted
                      em Yesterday
                  div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li
                a(href='#')
                  div
                    strong John Smith
                    span.pull-right.text-muted
                      em Yesterday
                  div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
    // /.dropdown
    li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
            li
                a(href='#')
                    i.fa.fa-gear.fa-fw
                    |  设置
            li.divider
            li
                a(href='/logout')
                    i.fa.fa-sign-out.fa-fw
                    |  注销
        // /.dropdown-user
    // /.dropdown
